<!DOCTYPE html>
<html>
<head>
<title>FlaskApp - Attendace</title>
<style>
.center {
  text-align: center;
  border: 5px solid #3498db;
}
.middle {
  margin-left: auto;
  margin-right: auto;
  width: 15em
}
</style>
</head>
<body style="background-color:AliceBlue;">



<div class="center">
	<h2>Welcome to Attendace app By Almog-Sofer :)</h2>
    
</div>
<div class="middle">
  <p>You have 2 option:</p>
  <p>1. upload manually</p>
  <p>2. Download from Bynet server:</p>
    <form method="post" action="/">
    <input type="submit" value="Upload" name="upload"/>
    <input type="submit" value="SFTP" name="sftp"/>
  </form>
</div>

</body>
</html>


