<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Index.css') }}" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">
        <h2>Welcome to Attendace app By Almog-Sofer :)</h2>
      </div>
      <div class="divider"></div>
      <div class="options">
        Please select:
        <ul>
          <form method="post" action="/">
            <input type="submit" value="Upload" name="upload"/>
            <input type="submit" value="SFTP" name="sftp"/>
          </form>
        </ul>
      </div>
    </div>
  </body>
</html>
